@font-face {
    font-family: 'FedorovskUnicodeTTMedium';
    src: url('./fonts/FedorovskUnicode.ttf');
    font-weight: normal;
    font-size: normal;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 15%, rgba(148,187,233,1) 85%);
    font-family: Arial, Helvetica, sans-serif; /* шрифты */
}

table {
    font-family: 'FedorovskUnicodeTTMedium', Helvetica, sans-serif; /* шрифты */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 68%; /* Ширина таблицы */
    font-size: 1.2em;
    opacity: 0.75;
}

th, td {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
}

th {
    background: #fc0; /* Цвет фона ячейки */
    height: 32px; /* Высота ячеек */
}

td {
    background: rgb(255, 244, 200); /* Цвет фона ячейки */
}

td.editor {
    background: rgb(190, 190, 190); /* Цвет фона ячейки */
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: green;
    font-weight: 600;
}