<!DOCTYPE html>

<html>

<head>
    <title>edit movie</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>.field{width:200px;}</style>
</head>

<body>
    <h1>Отредактировать данные</h1>
    <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{movie.id}}" />
        
        <label>Название</label><br>
        <input name="title" class="field" value="{{movie.title}}" /><br><br>

        <label>Режиссёр</label><br>
        <input name="director" class="field" value="{{movie.director}}" /><br><br>
        
        <label>Продолжительность (в минутах)</label><br>
        <input name="duration" type="number" class="field" min="0" max="10000" value="{{movie.duration}}" /><br><br>

        <label>Рейтинг Кинопоиска</label><br>
        <input name="rate" class="field" pattern="\d{1,2}\.\d{0,4}" value="{{movie.rate}}" /><br><br>
        
        <input type="submit" value="Сохранить" />
    </form>
    <a href="/">На главную</a>
</body>

<html>