<!DOCTYPE html>

<html>

<head>
    <title>TOP 250 movies</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <center>
    <h3>Список фильмов с рейтингом на Кинопоиске</h1>
    <p><a href="/restoreDefault">Восстановить начальный список</a></p>
    <p><a href="/create">Добавить фильм</a></p>
    <table>
        <tr>
            <th>Редактор</th>
            <th>Название</th>
            <th>Режиссёр</th>
            <th>Продолжительность&nbsp;<a href="/sort/duration.ASC">▲</a><a href="/sort/duration.DESC">▼</a></th>
            <th>Рейтинг&nbsp;<a href="/sort/rate.ASC">▲</a><a href="/sort/rate.DESC">▼</a></th>
        </tr>
        {{#each movie}}
            <tr>
                <td width=180 class="editor">
                    <form action="/edit/{{this.id}}" method="GET" style="display:inline;">
                        <input type="submit" value="Изменить" />
                    </form>
                    <form action="/delete/{{this.id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
                <td>{{this.title}}</td>
                <td>{{this.director}}</td>
                <td>{{this.duration}}</td>
                <td>{{this.rate}}</td>
            </tr>
        {{/each}}
    </table>
    </center>
</body>

<html>